ul.menu {
	list-style:none; 
	margin:29px 0px 0px; 
	padding:0px 1px 0px;
	float:right;
	width:auto;

}
ul.menu * {
	margin:0; 
	padding:0;
}
ul.menu a {
	display:block; 
	text-decoration:none;
	color:#3b3939;
	font-size:12px;
}
ul.menu li {
	position:relative;
	float:left;
	padding:0px ;

}

ul.menu ul {
	background:#1d4069;
    display: none;
    left: 0;
    list-style: none outside none;
    opacity: 0;
    padding-top: 0;
    position: absolute;
    top: 40px;
    width: 155px;
}
ul.menu li:hover{
	
}
ul.menu ul li {
    margin: 0;
    padding:4px 13px;
    position: relative;
}
ul.menu ul li:hover{
	background:none;
}
ul.menu ul li a {
	display:block;
	 color:#fff;
	 width:137px;
	 font-family: 'code_boldregular',Arial, Helvetica, sans-serif  ;
	text-transform:uppercase;
	 float:left;
	 
	
}
ul.menu ul ul {
	left:148px;
	top:-1px;
}
ul.menu .menulink {
	font-size:12px;
	color:#fff;
	font-size:13px;
	padding:13px;
	font-family: 'code_boldregular',Arial, Helvetica, sans-serif  ;
	text-transform:uppercase;
	letter-spacing:1px;
	

}

ul.menu .menulink_last {
	font-size:12px;
	color:#fff;
	font-size:13px;
	padding:13px 22px 13px 15px;
	font-family: 'code_boldregular',Arial, Helvetica, sans-serif  ;
	text-transform:uppercase;
	letter-spacing:1px;
	
}
ul.menu .menulink_last:hover{
	background:url(../images/hover.png) repeat;
	color:#f3d617;
}
ul.menu .menulink:hover, ul.menu .menuhover {
	color:#f3d617;
	background:url(../images/hover.png) repeat;
}
ul.menu .active {
	font-size:12px;
	color:#f3d617;
	font-size:13px;
	padding:13px 24px;
	font-family: 'code_boldregular',Arial, Helvetica, sans-serif  ;
	text-transform:uppercase;
	background:url(../images/hover.png) repeat;
}

ul.menu .sub {
	color:#fff;
}
ul.menu .topline {
	border-top:1px solid #aaa;
	color:#000;
}